@define-color accent #FF7D00;
@define-color accent_hover #e06b00;
@define-color bg_color #FBFAF9;
@define-color text_dark #3C3C3C;

.main-window {
    background-color: @bg_color;
}

.title-label {
    font-family: "Bungee", sans-serif;
    font-size: 72px;
    font-weight: 500;
    color: @accent;
    letter-spacing: 2px;
}

.subtitle-label {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    color: @text_dark;
    margin-bottom: 20px;
}

.module-card label {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: @accent;
}

.module-card border {
    border: none;
}

.module-card image {
    color: @text_dark;
}

.module-card:hover label,
.module-card:hover image {
    color: @accent; 
}

.module-card {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 14px;
    padding: 30px 20px;
    min-width: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.start-button {
    font-family: "Montserrat", sans-serif;
    background-color: @accent;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 14px;
    padding: 15px 60px;
    border: none;
    min-width: 200px;
    background-image: none; 
}

.start-button:hover {
    background-color: @accent_hover;
}


/*Formularz */
.form-card{
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 14px;
    padding: 30px 20px;
    min-width: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    min-width: 600px;
    min-height: 300px;
}
.form-text{
    color: #3C3C3C;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.form_label{
    color: #3C3C3C;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.form-input{
    padding:5px;
    background-color: #FBFAF9;
    border: 1px solid #a5b0a3;
    font-family: "Montserrat", sans-serif;

}
.form-radio{
    padding:16px;
    background-color: #FBFAF9;
   
    border: 1px solid #a5b0a3;
    
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    
}

.form-radio:checked{
    background-color: #ffc38b;
    border: 2.5px solid #FF7D00;
   
}